In [1]:
import pandas as pd

In [2]:
df = pd.read_json('final_dataset.json')

In [3]:
df.to_csv('final_dataset.csv')

df2 = pd.read_csv('final_dataset.csv')

#Data cleaning
- No duplicates
- No blank spaces (ex: `" I love python "` => `"I love python"`)
- No errors
- No empty values

In [4]:
df = df2.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118714 entries, 0 to 118713
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         118714 non-null  int64
 1   Url                118714 non-null  object
 2   BathroomCount      109112 non-null  float64
 3   BedroomCount       118714 non-null  int64
 4   ConstructionYear   68898 non-null   float64
 5   Country            118714 non-null  object
 6   District           118707 non-null  object
 7   Fireplace          4123 non-null    float64
 8   FloodingZone       58342 non-null   object
 9   Furnished          30325 non-null   float64
 10  Garden             22503 non-null   float64
 11  GardenArea         22503 non-null   float64
 12  Kitchen            67134 non-null   object
 13  LivingArea         104539 non-null  float64
 14  Locality           118709 non-null  object
 15  MonthlyCharges     13650 non-null   float64
 16  NumberOfFacades    76942 non-null   float64
 17  PEB                85074 non-null   object
 18  PostalCode         118714 non-null  int64
 19  Price              118714 non-null  int64
 20  PropertyId         118714 non-null  int64
 21  Province           118707 non-null  object
 22  Region             118707 non-null  object
 23  RoomCount          32916 non-null   float64
 24  ShowerCount        57127 non-null   float64
 25  StateOfBuilding    81622 non-null   object
 26  SubtypeOfProperty  118714 non-null  object
 27  SurfaceOfPlot      58237 non-null   float64
 28  SwimmingPool       40358 non-null   float64
 29  Terrace            68344 non-null   float64
 30  ToiletCount        96441 non-null   float64
 31  TypeOfProperty     118714 non-null  int64
 32  TypeOfSale         118714 non-null  object
dtypes: float64(15), int64(6), object(12)
memory usage: 29.9+ MB

In [5]:
#change column names
new_column_names = {

    'BathroomCount': 'bathroom_count',
    'BedroomCount': 'bedroom_count',
    'ConstructionYear': 'construction_year',
    'Country': 'country',
    'District': 'district',
    'Fireplace': 'fireplace',
    'FloodingZone': 'flooding_zone',
    'Furnished': 'furnished',
    'Garden': 'garden',
    'GardenArea': 'garden_area',
    'Kitchen': 'kitchen',
    'LivingArea': 'living_area',
    'Locality': 'locality',
    'MonthlyCharges': 'monthly_charges',
    'NumberOfFacades': 'number_of_facades',
    'PEB': 'PEB',
    'PostalCode': 'postal_code',
    'Price': 'price',
    'PropertyId': 'property_id',
    'Province': 'province',
    'Region': 'region',
    'RoomCount': 'room_count',
    'ShowerCount': 'shower_count',
    'StateOfBuilding': 'state_of_building',
    'SubtypeOfProperty': 'subtype_of_property',
    'SurfaceOfPlot': 'surface_of_plot',
    'SwimmingPool': 'swimming_pool',
    'Terrace': 'terrace',
    'ToiletCount': 'toilet_count',
    'TypeOfProperty': 'type_of_property',
    'TypeOfSale': 'type_of_sale'
}

df = df.rename(columns=new_column_names)
df.to_csv("Hui.csv", index = True)
print(df.columns)

Index(['Unnamed: 0', 'Url', 'bathroom_count', 'bedroom_count',
       'construction_year', 'country', 'district', 'fireplace',
       'flooding_zone', 'furnished', 'garden', 'garden_area', 'kitchen',
       'living_area', 'locality', 'monthly_charges', 'number_of_facades',
       'PEB', 'postal_code', 'price', 'property_id', 'province', 'region',
       'room_count', 'shower_count', 'state_of_building',
       'subtype_of_property', 'surface_of_plot', 'swimming_pool', 'terrace',
       'toilet_count', 'type_of_property', 'type_of_sale'],
      dtype='object')

In [6]:
#check null values
df.isnull().sum()

Unnamed: 0                  0
Url                         0
bathroom_count           9602
bedroom_count               0
construction_year       49816
country                     0
district                    7
fireplace              114591
flooding_zone           60372
furnished               88389
garden                  96211
garden_area             96211
kitchen                 51580
living_area             14175
locality                    5
monthly_charges        105064
number_of_facades       41772
PEB                     33640
postal_code                 0
price                       0
property_id                 0
province                    7
region                      7
room_count              85798
shower_count            61587
state_of_building       37092
subtype_of_property         0
surface_of_plot         60477
swimming_pool           78356
terrace                 50370
toilet_count            22273
type_of_property            0
type_of_sale                0
dtype: int64

Check each column

In [7]:
column_to_drop = 'price'
dropped_column = df[column_to_drop]
df = df.drop(columns=[column_to_drop])

In [8]:
#del df['Url']
#delete Fireplace and update
del df['fireplace']
del df['furnished']


df.to_csv("Hui.csv", index = True)

In [9]:
from sklearn.impute import KNNImputer

In [10]:
#fill empty value of 'bathroom'
imputer = KNNImputer(n_neighbors=20)
df[['bathroom_count']] = imputer.fit_transform(df[['bathroom_count']])

df['bathroom_count'] = df['bathroom_count'].round().astype(int)

df.to_csv("Hui.csv", index = True)

In [11]:
df['bedroom_count'].isnull().any()

np.False_

In [12]:
#check construction year
df = df.drop(df[df['construction_year'] > 2034].index)
#fill empty value of 'construction_year'
imputer = KNNImputer(n_neighbors=20)
df[['construction_year']] = imputer.fit_transform(df[['construction_year']])

df['construction_year'] = df['construction_year'].round().astype(int)

df.to_csv("Hui.csv", index = True)

In [13]:
#check 'flooding_zone'
flooding_zone_values = df['flooding_zone'].value_counts()
num_null_flooding_zone = df['flooding_zone'].isnull().sum()
print(flooding_zone_values, num_null_flooding_zone)

flooding_zone
NON_FLOOD_ZONE                                     55997
POSSIBLE_FLOOD_ZONE                                 1519
RECOGNIZED_FLOOD_ZONE                                644
CIRCUMSCRIBED_WATERSIDE_ZONE                          59
POSSIBLE_N_CIRCUMSCRIBED_FLOOD_ZONE                   49
CIRCUMSCRIBED_FLOOD_ZONE                              34
RECOGNIZED_N_CIRCUMSCRIBED_FLOOD_ZONE                 24
POSSIBLE_N_CIRCUMSCRIBED_WATERSIDE_ZONE                9
RECOGNIZED_N_CIRCUMSCRIBED_WATERSIDE_FLOOD_ZONE        6
Name: count, dtype: int64 60371

In [14]:
#Check 'garden'
garden_values = df['garden'].value_counts()
num_null_garden = df['garden'].isnull().sum()
print(garden_values, num_null_garden)

garden
1.0    22503
Name: count, dtype: int64 96209

In [15]:
df.loc[df['type_of_property'] == 2, 'garden'] = 0

condition = df['garden'].isnull() & (df['surface_of_plot'] != df['living_area'])
df.loc[condition, 'garden'] = 1

df['garden'].fillna(0, inplace=True)

df.to_csv("Hui.csv", index = True)

/var/folders/89/6dhf64yn68jcjcpqqbkth7jr0000gn/T/ipykernel_30265/1725131852.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['garden'].fillna(0, inplace=True)

In [16]:
#check 'garden_area'
garden_area_values = df['garden_area'].value_counts()
num_null_garden_area = df['garden_area'].isnull().sum()
print(garden_area_values, num_null_garden_area)

garden_area
1.0       2070
100.0      600
50.0       480
200.0      472
300.0      388
          ...
1612.0       1
1007.0       1
706.0        1
1161.0       1
4179.0       1
Name: count, Length: 1875, dtype: int64 96209

In [17]:
#check 'kitchen'
kitchen_values = df['kitchen'].value_counts()
num_null_kitchen = df['kitchen'].isnull().sum()
print(kitchen_values, num_null_kitchen)

kitchen
INSTALLED             32623
HYPER_EQUIPPED        19772
SEMI_EQUIPPED          7810
NOT_INSTALLED          3897
USA_HYPER_EQUIPPED     1438
USA_INSTALLED          1288
USA_SEMI_EQUIPPED       201
USA_UNINSTALLED         104
Name: count, dtype: int64 51579

In [18]:
#convert str to numbers for 'kitchen'
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [ ]:

# Create OneHotEncoder instances
#ohe = OneHotEncoder(handle_unknown = "ignore")
#drop_ohe = OneHotEncoder(drop = 'first')
#ohe.fit_transform(df[['kitchen']]).toarray()
#feature_array = ohe.fit_transform(df[['kitchen']]).toarry()
#print(feature_array)
#ohe.categories_
#feature_labels = ohe.categories_
#np.array(feature_labels).ravel()
#print(feature_labels)
#pd.DataFrame(feature_array, columns = feature_labels)
#print(features)
#pd.concat([df, features], axis = 1)

In [19]:
#check 'living_area'
#delete wrong values
df = df.drop(df[df['living_area'] > 1000].index)

In [20]:
#fill empty value of 'living_area'
imputer = KNNImputer(n_neighbors=20)
df[['living_area']] = imputer.fit_transform(df[['living_area']])

df['living_area'] = df['living_area'].round().astype(int)

df.to_csv("Hui.csv", index = True)

In [21]:
del df['monthly_charges']

In [22]:
del df['shower_count']

In [23]:
del df['locality']
df.to_csv("Hui.csv", index = True)

In [24]:
del df['country']
df.to_csv("Hui.csv", index = True)

In [25]:
#check 'number_of_facades'
df = df.drop(df[df['number_of_facades'] > 4].index)


df.to_csv("Hui.csv", index = True)

In [26]:
#fill empty value of 'number_of_facades'
imputer = KNNImputer(n_neighbors=20)
df[['number_of_facades']] = imputer.fit_transform(df[['number_of_facades']])

df['number_of_facades'] = df['number_of_facades'].round().astype(int)

df.to_csv("Hui.csv", index = True)

In [27]:
#check 'Province'
filtered_Province = df[df['province'].isna()==1]
print(filtered_Province)
#filtered_Province['Url'].tolist()

       Unnamed: 0                                                Url  \
59588       80023  https://www.immoweb.be/en/classified/apartment...
61035       81674  https://www.immoweb.be/en/classified/apartment...
61042       81681  https://www.immoweb.be/en/classified/apartment...
81496      106153  https://www.immoweb.be/en/classified/apartment...
84229      109589  https://www.immoweb.be/en/classified/apartment...
89496      116348  https://www.immoweb.be/en/classified/apartment...
89783      116689  https://www.immoweb.be/en/classified/apartment...

       bathroom_count  bedroom_count  construction_year district  \
59588               1              3               1987      NaN
61035               1              1               1987      NaN
61042               1              1               1987      NaN
81496               1              1               1987      NaN
84229               2              3               2020      NaN
89496               2              2               2020      NaN
89783               2              3               2020      NaN

        flooding_zone  garden  garden_area kitchen  ...  region  room_count  \
59588  NON_FLOOD_ZONE     0.0          NaN     NaN  ...     NaN         NaN
61035             NaN     0.0          NaN     NaN  ...     NaN         NaN
61042             NaN     0.0          NaN     NaN  ...     NaN         NaN
81496             NaN     0.0          NaN     NaN  ...     NaN         4.0
84229  NON_FLOOD_ZONE     0.0          NaN     NaN  ...     NaN         1.0
89496  NON_FLOOD_ZONE     0.0          NaN     NaN  ...     NaN         3.0
89783  NON_FLOOD_ZONE     0.0          NaN     NaN  ...     NaN         4.0

      state_of_building  subtype_of_property  surface_of_plot swimming_pool  \
59588               NaN            apartment              NaN           0.0
61035               NaN          flat_studio              NaN           NaN
61042               NaN          flat_studio              NaN           NaN
81496              GOOD            apartment              NaN           NaN
84229            AS_NEW            apartment              NaN           1.0
89496            AS_NEW            apartment              NaN           1.0
89783              GOOD            apartment              NaN           1.0

      terrace  toilet_count type_of_property              type_of_sale
59588     NaN           NaN                2          residential_sale
61035     1.0           NaN                2          residential_sale
61042     1.0           NaN                2          residential_sale
81496     NaN           1.0                2  residential_monthly_rent
84229     1.0           0.0                2          residential_sale
89496     1.0           3.0                2          residential_sale
89783     1.0           0.0                2          residential_sale

[7 rows x 26 columns]

In [28]:
df = df.drop([59588, 84229, 89496, 89783])
df[df['province'].isna()==1]

,Unnamed: 0,Url,bathroom_count,bedroom_count,construction_year,district,flooding_zone,garden,garden_area,kitchen,...,region,room_count,state_of_building,subtype_of_property,surface_of_plot,swimming_pool,terrace,toilet_count,type_of_property,type_of_sale
61035,81674,https://www.immoweb.be/en/classified/apartment...,1,1,1987,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,flat_studio,NaN,NaN,1.0,NaN,2,residential_sale
61042,81681,https://www.immoweb.be/en/classified/apartment...,1,1,1987,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,flat_studio,NaN,NaN,1.0,NaN,2,residential_sale
81496,106153,https://www.immoweb.be/en/classified/apartment...,1,1,1987,NaN,NaN,0.0,NaN,NaN,...,NaN,4.0,GOOD,apartment,NaN,NaN,NaN,1.0,2,residential_monthly_rent

In [30]:
#Fill the info of 'province'
df.at[61035, 'province'] = 'West Flanders'
df.at[61042, 'province'] = 'West Flanders'
df[df['province'].isna()==1]

,Unnamed: 0,Url,bathroom_count,bedroom_count,construction_year,district,flooding_zone,garden,garden_area,kitchen,...,region,room_count,state_of_building,subtype_of_property,surface_of_plot,swimming_pool,terrace,toilet_count,type_of_property,type_of_sale
81496,106153,https://www.immoweb.be/en/classified/apartment...,1,1,1987,NaN,NaN,0.0,NaN,NaN,...,NaN,4.0,GOOD,apartment,NaN,NaN,NaN,1.0,2,residential_monthly_rent

In [29]:
#check distibution of each value in 'Province'
province_distribution = df['province'].value_counts()
province_percentage = df['province'].value_counts(normalize=True)
print(province_distribution, province_percentage)

province
West Flanders      20861
Antwerp            18081
East Flanders      16074
Brussels           14046
Hainaut            11678
Liège              10447
Flemish Brabant     9757
Namur               4827
Limburg             4733
Walloon Brabant     4542
Luxembourg          3248
Name: count, dtype: int64 province
West Flanders      0.176349
Antwerp            0.152848
East Flanders      0.135882
Brussels           0.118738
Hainaut            0.098720
Liège              0.088314
Flemish Brabant    0.082481
Namur              0.040805
Limburg            0.040010
Walloon Brabant    0.038396
Luxembourg         0.027457
Name: proportion, dtype: float64

In [30]:
#Check 'region'

df.at[61035, 'region'] = 'Flanders'
df.at[61042, 'region'] = 'Flanders'
df[df['region'].isna()==1]

,Unnamed: 0,Url,bathroom_count,bedroom_count,construction_year,district,flooding_zone,garden,garden_area,kitchen,...,region,room_count,state_of_building,subtype_of_property,surface_of_plot,swimming_pool,terrace,toilet_count,type_of_property,type_of_sale
81496,106153,https://www.immoweb.be/en/classified/apartment...,1,1,1987,NaN,NaN,0.0,NaN,NaN,...,NaN,4.0,GOOD,apartment,NaN,NaN,NaN,1.0,2,residential_monthly_rent

In [31]:
#check distibution of each value in 'Region'
region_distribution = df['region'].value_counts()
region_percentage = df['region'].value_counts(normalize=True)
print(region_distribution, region_percentage)

region
Flanders    69508
Wallonie    34742
Brussels    14046
Name: count, dtype: int64 region
Flanders    0.587577
Wallonie    0.293687
Brussels    0.118736
Name: proportion, dtype: float64

In [32]:
#check 'district'
district_values = df['district'].value_counts()
num_null_district = df['district'].isnull().sum()
print(district_values, num_null_district)

district
Brussels             14046
Antwerp              10230
Liège                 6954
Brugge                6474
Gent                  5682
Halle-Vilvoorde       5275
Nivelles              4542
Turnhout              4536
Leuven                4482
Oostend               3853
Kortrijk              3607
Aalst                 3505
Mechelen              3315
Namur                 3293
Charleroi             3032
Hasselt               2833
Veurne                2437
Mons                  2356
Sint-Niklaas          2345
Verviers              1962
Roeselare             1898
Dendermonde           1860
Tournai               1794
Oudenaarde            1747
Soignies              1652
Tielt                 1256
Thuin                 1149
Dinant                1090
Maaseik                973
Eeklo                  935
Tongeren               927
Mouscron               862
Huy                    841
Ath                    833
Arlon                  707
Marche-en-Famenne      705
Diksmuide              697
Waremme                690
Neufchâteau            681
Virton                 668
Ieper                  639
Bastogne               487
Philippeville          444
Name: count, dtype: int64 3

In [33]:
df.at[61035, 'district'] = 'Bruge'
df.at[61042, 'district'] = 'Bruge'

In [34]:
#Check the columns of 'RoomCount'
num_null_roomcount = df['room_count'].isnull().sum()
per_null_rooncount = num_null_roomcount / len (df)
roomcount_distribution = df['room_count'].value_counts()
roomcount_percentage = df['room_count'].value_counts(normalize=True)
print(num_null_roomcount, per_null_rooncount, roomcount_distribution, roomcount_percentage)

#df = df.drop(columns = ['RoomCount', 'ShowerCount'])

85489 0.7226641419478094 room_count
1.0     8162
3.0     2431
4.0     2145
9.0     2000
8.0     1914
10.0    1870
5.0     1645
6.0     1601
7.0     1580
11.0    1514
2.0     1444
12.0    1276
14.0    1249
13.0    1061
15.0     965
16.0     542
17.0     332
18.0     273
19.0     190
20.0     145
21.0     103
22.0      87
23.0      60
24.0      47
25.0      32
28.0      22
26.0      22
29.0      16
27.0      16
30.0      15
36.0       7
32.0       6
33.0       5
35.0       5
38.0       4
31.0       3
43.0       3
34.0       3
40.0       3
37.0       2
53.0       2
44.0       1
50.0       1
45.0       1
48.0       1
39.0       1
41.0       1
Name: count, dtype: int64 room_count
1.0     0.248781
3.0     0.074098
4.0     0.065380
9.0     0.060961
8.0     0.058339
10.0    0.056998
5.0     0.050140
6.0     0.048799
7.0     0.048159
11.0    0.046147
2.0     0.044014
12.0    0.038893
14.0    0.038070
13.0    0.032340
15.0    0.029414
16.0    0.016520
17.0    0.010119
18.0    0.008321
19.0    0.005791
20.0    0.004420
21.0    0.003139
22.0    0.002652
23.0    0.001829
24.0    0.001433
25.0    0.000975
28.0    0.000671
26.0    0.000671
29.0    0.000488
27.0    0.000488
30.0    0.000457
36.0    0.000213
32.0    0.000183
33.0    0.000152
35.0    0.000152
38.0    0.000122
31.0    0.000091
43.0    0.000091
34.0    0.000091
40.0    0.000091
37.0    0.000061
53.0    0.000061
44.0    0.000030
50.0    0.000030
45.0    0.000030
48.0    0.000030
39.0    0.000030
41.0    0.000030
Name: proportion, dtype: float64

In [35]:
#fill empty value of 'room_count'
imputer = KNNImputer(n_neighbors=20)
df[['room_count']] = imputer.fit_transform(df[['room_count']])

df['room_count'] = df['room_count'].round().astype(int)

df.to_csv("Hui.csv", index = True)

In [113]:
#check 'ShowerCount'
num_null_ShowerCount = df['shower_count'].isnull().sum()
per_null_ShowerCount = num_null_ShowerCount / len (df)
ShowerCount_distribution = df['shower_count'].value_counts()
ShowerCount_percentage = df['shower_count'].value_counts(normalize=True)
print(num_null_ShowerCount, per_null_ShowerCount, ShowerCount_distribution, ShowerCount_percentage)

KeyError: 'shower_count'

In [38]:
#check 'PEB'
df[df['PEB'].isna()==1]
num_null_PEB = df['PEB'].isnull().sum()
per_null_PEB = num_null_PEB / len (df)
PEB_distribution = df['PEB'].value_counts()
PEB_percentage = df['PEB'].value_counts(normalize=True)
print(num_null_PEB, per_null_PEB, PEB_distribution, PEB_percentage)

33497 0.2833446117408222 PEB
B      18089
A      14925
C      14826
D      11770
F       9616
E       7802
G       5081
A+      1973
A++      641
Name: count, dtype: int64 PEB
B      0.213508
A      0.176162
C      0.174994
D      0.138923
F      0.113499
E      0.092088
G      0.059972
A+     0.023288
A++    0.007566
Name: proportion, dtype: float64

In [39]:
#Clean the tricky PEB data
df = df.drop(df[df['PEB'].isin(["B_A", "A_A+", "F_C", "F_D", "G_C", "F_E", "E_D", "E_C", "G_F"])].index)
print(PEB_distribution)

PEB
B      18089
A      14925
C      14826
D      11770
F       9616
E       7802
G       5081
A+      1973
A++      641
Name: count, dtype: int64

In [40]:
#Grade the PEB
PEB_grade = {
   'A++': 9,
 'A+': 8,
 'A': 7,
 'B': 6,
 'C': 5,
 'D': 4,
 'E': 3,
 'F': 2,
 'G': 1
}
df['PEB_grade'] =df['PEB'].map(PEB_grade)
df.to_csv("Hui.csv", index = True)

In [41]:
imputer = KNNImputer(n_neighbors=20)
df[['PEB_grade']] = imputer.fit_transform(df[['PEB_grade']])

df['PEB_grade'] = df['PEB_grade'].round().astype(int)

df.to_csv("Hui.csv", index = True)

In [42]:
#check 'state_of_building'
df[df['state_of_building'].isna()==1]
num_null_StateOfBuilding = df['state_of_building'].isnull().sum()
per_null_StateOfBuilding = num_null_StateOfBuilding / len (df)
StateOfBuilding_distribution = df['state_of_building'].value_counts()
StateOfBuilding_percentage = df['state_of_building'].value_counts(normalize=True)
print(num_null_StateOfBuilding, per_null_StateOfBuilding, StateOfBuilding_distribution, StateOfBuilding_percentage)

36956 0.3126036203688039 state_of_building
GOOD              43307
AS_NEW            18862
TO_RENOVATE        7488
TO_BE_DONE_UP      5693
JUST_RENOVATED     5461
TO_RESTORE          453
Name: count, dtype: int64 state_of_building
GOOD              0.532917
AS_NEW            0.232108
TO_RENOVATE       0.092144
TO_BE_DONE_UP     0.070056
JUST_RENOVATED    0.067201
TO_RESTORE        0.005574
Name: proportion, dtype: float64

###Grade the building state
GOOD           -->   4
AS_NEW         -->   6
TO_RENOVATE    -->   1
TO_BE_DONE_UP  -->   3
JUST_RENOVATED -->   5
TO_RESTORE     -->   2

In [43]:
Building_state_grade = {
    'GOOD': 4, 
'AS_NEW': 6,
'TO_RENOVATE': 2, 
'TO_BE_DONE_UP': 3,
'JUST_RENOVATED': 5,
'TO_RESTORE': 1
}
df['Building_state_grade'] =df['state_of_building'].map(Building_state_grade)
df.to_csv("Hui.csv", index = True)

In [44]:
imputer = KNNImputer(n_neighbors=20)
df[['Building_state_grade']] = imputer.fit_transform(df[['Building_state_grade']])

df['Building_state_grade'] = df['Building_state_grade'].round().astype(int)
df.to_csv('Hui.csv', index=True)

In [186]:
#check the state
#TO_BE_DONE_UP_df = df[df['StateOfBuilding'] == 'TO_BE_DONE_UP']
##print(TO_BE_DONE_UP_df)
#TO_BE_DONE_UP_df['Url'].tolist(

In [45]:
#check 'subtype_of_property'
df[df['subtype_of_property'].isna()==1]
SubtypeOfProperty_distribution = df['subtype_of_property'].value_counts()
SubtypeOfProperty_percentage = df['subtype_of_property'].value_counts(normalize=True)
print(SubtypeOfProperty_distribution, SubtypeOfProperty_percentage)

subtype_of_property
apartment               47013
house                   45098
villa                    5145
ground_floor             3507
duplex                   2836
flat_studio              2452
apartment_block          2399
penthouse                2379
mixed_use_building       1882
service_flat              764
kot                       753
mansion                   693
town_house                635
bungalow                  476
loft                      425
exceptional_property      405
country_cottage           394
farmhouse                 335
triplex                   254
chalet                    164
other_property             87
manor_house                77
castle                     40
pavilion                    4
show_house                  3
Name: count, dtype: int64 subtype_of_property
apartment               0.397674
house                   0.381475
villa                   0.043521
ground_floor            0.029665
duplex                  0.023989
flat_studio             0.020741
apartment_block         0.020293
penthouse               0.020123
mixed_use_building      0.015919
service_flat            0.006463
kot                     0.006369
mansion                 0.005862
town_house              0.005371
bungalow                0.004026
loft                    0.003595
exceptional_property    0.003426
country_cottage         0.003333
farmhouse               0.002834
triplex                 0.002149
chalet                  0.001387
other_property          0.000736
manor_house             0.000651
castle                  0.000338
pavilion                0.000034
show_house              0.000025
Name: proportion, dtype: float64

In [46]:
#check 'surface_of_plot'
df[df['surface_of_plot'].isna()==1]
num_null_SurfaceOfPlot = df['surface_of_plot'].isnull().sum()
per_null_SurfaceOfPlot = num_null_SurfaceOfPlot / len (df)
SurfaceOfPlot_distribution = df['surface_of_plot'].value_counts()
SurfaceOfPlot_percentage = df['surface_of_plot'].value_counts(normalize=True)
print(num_null_SurfaceOfPlot, per_null_SurfaceOfPlot, SurfaceOfPlot_distribution)

60383 0.5107680595499915 surface_of_plot
0.0        7777
200.0       295
150.0       282
300.0       277
120.0       270
           ...
7210.0        1
26000.0       1
3981.0        1
2814.0        1
10703.0       1
Name: count, Length: 4493, dtype: int64

In [47]:
condition = df['surface_of_plot'].isnull() & (df['type_of_property'] == 2)
df.loc[condition, 'surface_of_plot'] = df['living_area']
df.to_csv('Hui.csv', index=True)

In [48]:
imputer = KNNImputer(n_neighbors=20)
df[['surface_of_plot']] = imputer.fit_transform(df[['surface_of_plot']])

df['surface_of_plot'] = df['surface_of_plot'].round().astype(int)
df.to_csv('Hui.csv', index=True)

In [49]:
df.loc[df['surface_of_plot'] < df['living_area'], 'surface_of_plot'] = df['living_area']
df.to_csv('Hui.csv', index=True)

In [50]:
#check the 'swimming_pool'
df[df['swimming_pool'].isna()==1]
num_null_SwimmingPool = df['swimming_pool'].isnull().sum()
per_null_SwimmingPool = num_null_SwimmingPool / len (df)
SwimmingPool_distribution = df['swimming_pool'].value_counts()
SwimmingPool_percentage = df['swimming_pool'].value_counts(normalize=True)
print(num_null_SwimmingPool, per_null_SwimmingPool, SwimmingPool_distribution)

78091 0.6605565894095754 swimming_pool
0.0    38131
1.0     1998
Name: count, dtype: int64

In [51]:
df = df[df['type_of_sale'] == 'residential_sale']
df['type_of_sale'].value_counts()

type_of_sale
residential_sale    104475
Name: count, dtype: int64

In [52]:
#Fill the empty values in 'swimming_pool'
df["swimming_pool"].fillna(0, inplace = True)
df.to_csv('Hui.csv', index = True)

/var/folders/89/6dhf64yn68jcjcpqqbkth7jr0000gn/T/ipykernel_30265/2916291254.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["swimming_pool"].fillna(0, inplace = True)

In [53]:
df[column_to_drop] = dropped_column
df.to_csv('Hui.csv', index = True)

In [56]:
#df = df.drop(df[df['price'] < 40000].index)

In [56]:
df.isnull().sum()

Unnamed: 0                  0
Url                         0
bathroom_count              0
bedroom_count               0
construction_year           0
district                    0
flooding_zone           51218
garden                      0
garden_area             84102
kitchen                 46865
living_area                 0
number_of_facades           0
PEB                     30410
postal_code                 0
property_id                 0
province                    2
region                      0
room_count                  0
state_of_building       33300
subtype_of_property         0
surface_of_plot             0
swimming_pool               0
terrace                 44116
toilet_count            20065
type_of_property            0
type_of_sale                0
PEB_grade                   0
Building_state_grade        0
price                       0
dtype: int64

In [55]:
#devide as two files according to 'type of property'
df_appartment = df_hui[df_hui['type_of_property'] == 2]
df_house = df_hui[df_hui['type_of_property'] == 1]

# Save the filtered DataFrames to new CSV files
df_appartment.to_csv('data_appartment.csv', index=True)
df_house.to_csv('data_house.csv', index=True)

NameError: name 'df_hui' is not defined

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
df = df.select_dtypes(include=['float64', 'int'])
corr_matrix = df.corr()
corr_matrix_np = corr_matrix.values
np.fill_diagonal(corr_matrix_np, 1)
corr_matrix = pd.DataFrame(corr_matrix_np, index=corr_matrix.index, columns=corr_matrix.columns)
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))
plt.figure(figsize=(12, 6)) 
sns.heatmap(corr_matrix, mask=mask, annot=True, cmap="inferno", vmax=1, vmin=-1, fmt='.2f', annot_kws={"size": 12})
plt.title("Correlations", fontsize=20)
plt.xticks(fontsize=12, rotation=75)
plt.yticks(fontsize=12)

plt.show()