In [51]:
import pandas as pd

In [52]:
df = pd.read_json('final_dataset.json')

In [53]:
df.to_csv('final_dataset.csv')

df2 = pd.read_csv('final_dataset.csv')

#Data cleaning
- No duplicates
- No blank spaces (ex: `" I love python "` => `"I love python"`)
- No errors
- No empty values

In [54]:
df = df2.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118714 entries, 0 to 118713
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         118714 non-null  int64
 1   Url                118714 non-null  object
 2   BathroomCount      109112 non-null  float64
 3   BedroomCount       118714 non-null  int64
 4   ConstructionYear   68898 non-null   float64
 5   Country            118714 non-null  object
 6   District           118707 non-null  object
 7   Fireplace          4123 non-null    float64
 8   FloodingZone       58342 non-null   object
 9   Furnished          30325 non-null   float64
 10  Garden             22503 non-null   float64
 11  GardenArea         22503 non-null   float64
 12  Kitchen            67134 non-null   object
 13  LivingArea         104539 non-null  float64
 14  Locality           118709 non-null  object
 15  MonthlyCharges     13650 non-null   float64
 16  NumberOfFacades    76942 non-null   float64
 17  PEB                85074 non-null   object
 18  PostalCode         118714 non-null  int64
 19  Price              118714 non-null  int64
 20  PropertyId         118714 non-null  int64
 21  Province           118707 non-null  object
 22  Region             118707 non-null  object
 23  RoomCount          32916 non-null   float64
 24  ShowerCount        57127 non-null   float64
 25  StateOfBuilding    81622 non-null   object
 26  SubtypeOfProperty  118714 non-null  object
 27  SurfaceOfPlot      58237 non-null   float64
 28  SwimmingPool       40358 non-null   float64
 29  Terrace            68344 non-null   float64
 30  ToiletCount        96441 non-null   float64
 31  TypeOfProperty     118714 non-null  int64
 32  TypeOfSale         118714 non-null  object
dtypes: float64(15), int64(6), object(12)
memory usage: 29.9+ MB

In [55]:
#change column names
new_column_names = {

    'BathroomCount': 'bathroom_count',
    'BedroomCount': 'bedroom_count',
    'ConstructionYear': 'construction_year',
    'Country': 'country',
    'District': 'district',
    'Fireplace': 'fireplace',
    'FloodingZone': 'flooding_zone',
    'Furnished': 'furnished',
    'Garden': 'garden',
    'GardenArea': 'garden_area',
    'Kitchen': 'kitchen',
    'LivingArea': 'living_area',
    'Locality': 'locality',
    'MonthlyCharges': 'monthly_charges',
    'NumberOfFacades': 'number_of_facades',
    'PEB': 'PEB',
    'PostalCode': 'postal_code',
    'Price': 'price',
    'PropertyId': 'property_id',
    'Province': 'province',
    'Region': 'region',
    'RoomCount': 'room_count',
    'ShowerCount': 'shower_count',
    'StateOfBuilding': 'state_of_building',
    'SubtypeOfProperty': 'subtype_of_property',
    'SurfaceOfPlot': 'surface_of_plot',
    'SwimmingPool': 'swimming_pool',
    'Terrace': 'terrace',
    'ToiletCount': 'toilet_count',
    'TypeOfProperty': 'type_of_property',
    'TypeOfSale': 'type_of_sale'
}

df = df.rename(columns=new_column_names)
print(df.columns)

Index(['Unnamed: 0', 'Url', 'bathroom_count', 'bedroom_count',
       'construction_year', 'country', 'district', 'fireplace',
       'flooding_zone', 'furnished', 'garden', 'garden_area', 'kitchen',
       'living_area', 'locality', 'monthly_charges', 'number_of_facades',
       'PEB', 'postal_code', 'price', 'property_id', 'province', 'region',
       'room_count', 'shower_count', 'state_of_building',
       'subtype_of_property', 'surface_of_plot', 'swimming_pool', 'terrace',
       'toilet_count', 'type_of_property', 'type_of_sale'],
      dtype='object')

In [36]:
#check null values
df.isnull().any()

Unnamed: 0             False
Url                    False
bathroom_count          True
bedroom_count          False
construction_year       True
country                False
district                True
fireplace               True
flooding_zone           True
furnished               True
garden                  True
garden_area             True
kitchen                 True
living_area             True
locality                True
monthly_charges         True
number_of_facades       True
peb                     True
postal_code            False
price                  False
property_id            False
province                True
region                  True
room_count              True
shower_count            True
state_of_building       True
subtype_of_property    False
surface_of_plot         True
swimming_pool           True
terrace                 True
toilet_count            True
type_of_property       False
type_of_sale           False
dtype: bool

Check each column

In [37]:
#check 'Province'
filtered_Province = df[df['province'].isna()==1]
print(filtered_Province)
filtered_Province['Url'].tolist()

       Unnamed: 0                                                Url  \
59588       80023  https://www.immoweb.be/en/classified/apartment...
61035       81674  https://www.immoweb.be/en/classified/apartment...
61042       81681  https://www.immoweb.be/en/classified/apartment...
81496      106153  https://www.immoweb.be/en/classified/apartment...
84229      109589  https://www.immoweb.be/en/classified/apartment...
89496      116348  https://www.immoweb.be/en/classified/apartment...
89783      116689  https://www.immoweb.be/en/classified/apartment...

       bathroom_count  bedroom_count  construction_year  country district  \
59588             1.0              3                NaN  Belgium      NaN
61035             NaN              1                NaN  Belgium      NaN
61042             NaN              1                NaN  Belgium      NaN
81496             1.0              1                NaN  Belgium      NaN
84229             2.0              3             2020.0  Belgium      NaN
89496             2.0              2             2020.0  Belgium      NaN
89783             2.0              3             2020.0  Belgium      NaN

       fireplace   flooding_zone  furnished  ...  room_count  shower_count  \
59588        NaN  NON_FLOOD_ZONE        0.0  ...         NaN           NaN
61035        NaN             NaN        NaN  ...         NaN           NaN
61042        NaN             NaN        NaN  ...         NaN           NaN
81496        NaN             NaN        NaN  ...         4.0           0.0
84229        1.0  NON_FLOOD_ZONE        NaN  ...         1.0           0.0
89496        1.0  NON_FLOOD_ZONE        NaN  ...         3.0           1.0
89783        1.0  NON_FLOOD_ZONE        NaN  ...         4.0           0.0

      state_of_building  subtype_of_property surface_of_plot  swimming_pool  \
59588               NaN            apartment             NaN            0.0
61035               NaN          flat_studio             NaN            NaN
61042               NaN          flat_studio             NaN            NaN
81496              GOOD            apartment             NaN            NaN
84229            AS_NEW            apartment             NaN            1.0
89496            AS_NEW            apartment             NaN            1.0
89783              GOOD            apartment             NaN            1.0

       terrace toilet_count  type_of_property              type_of_sale
59588      NaN          NaN                 2          residential_sale
61035      1.0          NaN                 2          residential_sale
61042      1.0          NaN                 2          residential_sale
81496      NaN          1.0                 2  residential_monthly_rent
84229      1.0          0.0                 2          residential_sale
89496      1.0          3.0                 2          residential_sale
89783      1.0          0.0                 2          residential_sale

[7 rows x 33 columns]

['https://www.immoweb.be/en/classified/apartment/for-sale/rombach/8814/11426204',
 'https://www.immoweb.be/en/classified/apartment/for-sale/belgium/8548/11368112',
 'https://www.immoweb.be/en/classified/apartment/for-sale/belgium/8545/11368105',
 'https://www.immoweb.be/en/classified/apartment/for-rent/gent/0/11297796',
 'https://www.immoweb.be/en/classified/apartment/for-sale/cadzand/4506/11204872',
 'https://www.immoweb.be/en/classified/apartment/for-sale/cadzand/4506/11182982',
 'https://www.immoweb.be/en/classified/apartment/for-sale/cadzand/4506/11180310']

In [38]:
df = df.drop([59588, 81496, 84229, 89496, 89783])
df[df['province'].isna()==1]

,Unnamed: 0,Url,bathroom_count,bedroom_count,construction_year,country,district,fireplace,flooding_zone,furnished,...,room_count,shower_count,state_of_building,subtype_of_property,surface_of_plot,swimming_pool,terrace,toilet_count,type_of_property,type_of_sale
61035,81674,https://www.immoweb.be/en/classified/apartment...,NaN,1,NaN,Belgium,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,flat_studio,NaN,NaN,1.0,NaN,2,residential_sale
61042,81681,https://www.immoweb.be/en/classified/apartment...,NaN,1,NaN,Belgium,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,flat_studio,NaN,NaN,1.0,NaN,2,residential_sale

In [40]:
#Fill the info of 'province'
df.at[61035, 'province'] = 'West Flanders'
df.at[61042, 'province'] = 'West Flanders'
df[df['province'].isna()==1]

Empty DataFrame
Columns: [Unnamed: 0, Url, bathroom_count, bedroom_count, construction_year, country, district, fireplace, flooding_zone, furnished, garden, garden_area, kitchen, living_area, locality, monthly_charges, number_of_facades, peb, postal_code, price, property_id, province, region, room_count, shower_count, state_of_building, subtype_of_property, surface_of_plot, swimming_pool, terrace, toilet_count, type_of_property, type_of_sale]
Index: []

[0 rows x 33 columns]

In [42]:
#check distibution of each value in 'Province'
province_distribution = df['province'].value_counts()
province_percentage = df['province'].value_counts(normalize=True)
print(province_distribution, province_percentage)

province
West Flanders      20906
Antwerp            18134
East Flanders      16110
Brussels           14098
Hainaut            11740
Liège              10508
Flemish Brabant     9774
Namur               4862
Limburg             4747
Walloon Brabant     4558
Luxembourg          3272
Name: count, dtype: int64 province
West Flanders      0.176111
Antwerp            0.152760
East Flanders      0.135710
Brussels           0.118761
Hainaut            0.098897
Liège              0.088519
Flemish Brabant    0.082336
Namur              0.040957
Limburg            0.039989
Walloon Brabant    0.038396
Luxembourg         0.027563
Name: proportion, dtype: float64

In [43]:
#Check 'region'

df.at[61035, 'region'] = 'Flanders'
df.at[61042, 'region'] = 'Flanders'
df[df['region'].isna()==1]

Empty DataFrame
Columns: [Unnamed: 0, Url, bathroom_count, bedroom_count, construction_year, country, district, fireplace, flooding_zone, furnished, garden, garden_area, kitchen, living_area, locality, monthly_charges, number_of_facades, peb, postal_code, price, property_id, province, region, room_count, shower_count, state_of_building, subtype_of_property, surface_of_plot, swimming_pool, terrace, toilet_count, type_of_property, type_of_sale]
Index: []

[0 rows x 33 columns]

In [44]:
#check distibution of each value in 'Region'
region_distribution = df['region'].value_counts()
region_percentage = df['region'].value_counts(normalize=True)
print(region_distribution, region_percentage)

region
Flanders    69671
Wallonie    34940
Brussels    14098
Name: count, dtype: int64 region
Flanders    0.586906
Wallonie    0.294333
Brussels    0.118761
Name: proportion, dtype: float64

In [45]:
#Check the columns of 'RoomCount'
num_null_roomcount = df['room_count'].isnull().sum()
per_null_rooncount = num_null_roomcount / len (df)
roomcount_distribution = df['room_count'].value_counts()
roomcount_percentage = df['room_count'].value_counts(normalize=True)
print(num_null_roomcount, per_null_rooncount, roomcount_distribution, roomcount_percentage)

#df = df.drop(columns = ['RoomCount', 'ShowerCount'])

85797 0.7227505917832683 room_count
1.0     8200
3.0     2435
4.0     2145
9.0     2001
8.0     1914
10.0    1873
5.0     1647
6.0     1610
7.0     1583
11.0    1516
2.0     1447
12.0    1283
14.0    1253
13.0    1065
15.0     969
16.0     543
17.0     335
18.0     274
19.0     190
20.0     150
21.0     103
22.0      88
23.0      60
24.0      49
25.0      32
28.0      22
26.0      22
27.0      17
30.0      16
29.0      16
36.0       7
32.0       6
31.0       5
35.0       5
33.0       5
38.0       4
43.0       3
34.0       3
40.0       3
44.0       2
37.0       2
53.0       2
39.0       1
41.0       1
45.0       1
50.0       1
48.0       1
60.0       1
68.0       1
Name: count, dtype: int64 room_count
1.0     0.249149
3.0     0.073985
4.0     0.065174
9.0     0.060798
8.0     0.058155
10.0    0.056909
5.0     0.050043
6.0     0.048918
7.0     0.048098
11.0    0.046062
2.0     0.043966
12.0    0.038983
14.0    0.038071
13.0    0.032359
15.0    0.029442
16.0    0.016499
17.0    0.010179
18.0    0.008325
19.0    0.005773
20.0    0.004558
21.0    0.003130
22.0    0.002674
23.0    0.001823
24.0    0.001489
25.0    0.000972
28.0    0.000668
26.0    0.000668
27.0    0.000517
30.0    0.000486
29.0    0.000486
36.0    0.000213
32.0    0.000182
31.0    0.000152
35.0    0.000152
33.0    0.000152
38.0    0.000122
43.0    0.000091
34.0    0.000091
40.0    0.000091
44.0    0.000061
37.0    0.000061
53.0    0.000061
39.0    0.000030
41.0    0.000030
45.0    0.000030
50.0    0.000030
48.0    0.000030
60.0    0.000030
68.0    0.000030
Name: proportion, dtype: float64

In [59]:
#check 'ShowerCount'
num_null_ShowerCount = df['shower_count'].isnull().sum()
per_null_ShowerCount = num_null_ShowerCount / len (df)
ShowerCount_distribution = df['shower_count'].value_counts()
ShowerCount_percentage = df['shower_count'].value_counts(normalize=True)
print(num_null_ShowerCount, per_null_ShowerCount, ShowerCount_distribution, ShowerCount_percentage)

61561 0.5189065713611383 shower_count
0.0       32051
1.0       19316
2.0        3793
3.0         960
4.0         377
5.0         216
6.0         105
7.0          74
8.0          45
9.0          32
10.0         25
11.0         20
12.0         10
16.0          7
15.0          6
13.0          6
14.0          5
19.0          4
439.0         3
20.0          3
180.0         2
18.0          2
17.0          2
312.0         1
50.0          1
1120.0        1
58.0          1
354.0         1
158.0         1
115.0         1
22.0          1
23.0          1
25.0          1
490.0         1
Name: count, dtype: int64 shower_count
0.0       0.561559
1.0       0.338432
2.0       0.066456
3.0       0.016820
4.0       0.006605
5.0       0.003784
6.0       0.001840
7.0       0.001297
8.0       0.000788
9.0       0.000561
10.0      0.000438
11.0      0.000350
12.0      0.000175
16.0      0.000123
15.0      0.000105
13.0      0.000105
14.0      0.000088
19.0      0.000070
439.0     0.000053
20.0      0.000053
180.0     0.000035
18.0      0.000035
17.0      0.000035
312.0     0.000018
50.0      0.000018
1120.0    0.000018
58.0      0.000018
354.0     0.000018
158.0     0.000018
115.0     0.000018
22.0      0.000018
23.0      0.000018
25.0      0.000018
490.0     0.000018
Name: proportion, dtype: float64

In [60]:
#check 'PEB'
df[df['PEB'].isna()==1]
num_null_PEB = df['PEB'].isnull().sum()
per_null_PEB = num_null_PEB / len (df)
PEB_distribution = df['PEB'].value_counts()
PEB_percentage = df['PEB'].value_counts(normalize=True)
print(num_null_PEB, per_null_PEB, PEB_distribution, PEB_percentage)

33640 0.28355642469402204 PEB
B      18134
A      14937
C      14887
D      11812
F       9645
E       7834
G       5121
A+      1976
A++      650
Name: count, dtype: int64 PEB
B      0.213351
A      0.175738
C      0.175149
D      0.138971
F      0.113476
E      0.092169
G      0.060250
A+     0.023248
A++    0.007647
Name: proportion, dtype: float64

In [61]:
#Clean the tricky PEB data
df = df.drop(df[df['PEB'].isin(["B_A", "A_A+", "F_C", "F_D", "G_C", "F_E", "E_D", "E_C", "G_F"])].index)
print(PEB_distribution)

PEB
B      18134
A      14937
C      14887
D      11812
F       9645
E       7834
G       5121
A+      1976
A++      650
Name: count, dtype: int64

In [62]:
#Grade the PEB
PEB_grade = {
   'A++': 9,
 'A+': 8,
 'A': 7,
 'B': 6,
 'C': 5,
 'D': 4,
 'E': 3,
 'F': 2,
 'G': 1
}
df['PEB_grade'] =df['PEB'].map(PEB_grade)
df.to_csv('Hui.csv')
df_hui = pd.read_csv('Hui.csv')
print(df_hui.head(20))

    Unnamed: 0.1  Unnamed: 0  \
0              0           2
1              1           6
2              2           8
3              3          10
4              4          11
5              5          14
6              6          15
7              7          18
8              8          22
9              9          23
10            10          24
11            11          25
12            12          27
13            13          29
14            14          30
15            15          33
16            16          34
17            17          35
18            18          36
19            19          37

                                                  Url  bathroom_count  \
0   https://www.immoweb.be/en/classified/apartment...             1.0
1   https://www.immoweb.be/en/classified/house/for...             6.0
2   https://www.immoweb.be/en/classified/house/for...             2.0
3   https://www.immoweb.be/en/classified/house/for...             1.0
4   https://www.immoweb.be/en/classified/apartment...             0.0
5   https://www.immoweb.be/en/classified/apartment...             1.0
6   https://www.immoweb.be/en/classified/house/for...             4.0
7   https://www.immoweb.be/en/classified/house/for...             0.0
8   https://www.immoweb.be/en/classified/apartment...             2.0
9   https://www.immoweb.be/en/classified/apartment...             NaN
10  https://www.immoweb.be/en/classified/apartment...             1.0
11  https://www.immoweb.be/en/classified/apartment...             1.0
12  https://www.immoweb.be/en/classified/house/for...             3.0
13  https://www.immoweb.be/en/classified/apartment...             NaN
14  https://www.immoweb.be/en/classified/apartment...             1.0
15  https://www.immoweb.be/en/classified/house/for...             1.0
16  https://www.immoweb.be/en/classified/house/for...             1.0
17  https://www.immoweb.be/en/classified/apartment...             1.0
18  https://www.immoweb.be/en/classified/apartment...             1.0
19  https://www.immoweb.be/en/classified/house/for...             0.0

    bedroom_count  construction_year  country         district  fireplace  \
0               1             1969.0  Belgium           Brugge        NaN
1              13             1920.0  Belgium          Tournai        NaN
2               4             2008.0  Belgium           Brugge        NaN
3               4                NaN  Belgium           Veurne        NaN
4               2             1972.0  Belgium          Hasselt        NaN
5               1             1994.0  Belgium         Brussels        NaN
6               6             1970.0  Belgium         Nivelles        1.0
7               2                NaN  Belgium         Mechelen        NaN
8               3             2023.0  Belgium  Halle-Vilvoorde        NaN
9               2                NaN  Belgium     Sint-Niklaas        NaN
10              2             1961.0  Belgium          Oostend        NaN
11              3                NaN  Belgium         Brussels        NaN
12              5             1987.0  Belgium          Antwerp        NaN
13              1                NaN  Belgium     Sint-Niklaas        NaN
14              2             1966.0  Belgium          Oostend        NaN
15              8             1923.0  Belgium            Ieper        NaN
16              3                NaN  Belgium             Mons        NaN
17              0             1974.0  Belgium            Namur        NaN
18              0             1974.0  Belgium            Namur        NaN
19              1             1860.0  Belgium    Philippeville        NaN

     flooding_zone  ...  shower_count  state_of_building  subtype_of_property  \
0              NaN  ...           0.0               GOOD          flat_studio
1              NaN  ...           NaN               GOOD      apartment_block
2   NON_FLOOD_ZONE  ...           0.0               GOOD                house
3              NaN  ...           NaN      TO_BE_DONE_UP                house
4   NON_FLOOD_ZONE  ...           0.0             AS_NEW            apartment
5              NaN  ...           NaN             AS_NEW            apartment
6   NON_FLOOD_ZONE  ...           0.0               GOOD                villa
7   NON_FLOOD_ZONE  ...           0.0                NaN                house
8              NaN  ...           0.0                NaN            apartment
9              NaN  ...           0.0                NaN            apartment
10             NaN  ...           0.0               GOOD            apartment
11  NON_FLOOD_ZONE  ...           2.0               GOOD            apartment
12  NON_FLOOD_ZONE  ...           0.0                NaN                house
13             NaN  ...           0.0                NaN            apartment
14  NON_FLOOD_ZONE  ...           NaN                NaN            apartment
15  NON_FLOOD_ZONE  ...           NaN        TO_RENOVATE                house
16             NaN  ...           0.0         TO_RESTORE                house
17  NON_FLOOD_ZONE  ...           1.0               GOOD          flat_studio
18  NON_FLOOD_ZONE  ...           NaN               GOOD          flat_studio
19  NON_FLOOD_ZONE  ...           NaN        TO_RENOVATE                house

   surface_of_plot  swimming_pool terrace  toilet_count  type_of_property  \
0              NaN            NaN     1.0           1.0                 2
1            130.0            NaN     NaN           5.0                 1
2              0.0            NaN     NaN           2.0                 1
3            170.0            0.0     1.0           2.0                 1
4              NaN            NaN     1.0           1.0                 2
5              NaN            0.0     1.0           1.0                 2
6           2519.0            NaN     1.0           5.0                 1
7            423.0            NaN     NaN           0.0                 1
8              NaN            0.0     NaN           NaN                 2
9              NaN            NaN     NaN           NaN                 2
10             NaN            NaN     NaN           1.0                 2
11             NaN            0.0     1.0           3.0                 2
12          5185.0            NaN     NaN           3.0                 1
13             NaN            NaN     NaN           NaN                 2
14             NaN            0.0     NaN           NaN                 2
15           223.0            0.0     1.0           2.0                 1
16           480.0            NaN     NaN           2.0                 1
17             NaN            0.0     1.0           1.0                 2
18             NaN            0.0     1.0           NaN                 2
19           189.0            0.0     1.0           NaN                 1

                type_of_sale  PEB_grade
0           residential_sale        NaN
1           residential_sale        4.0
2           residential_sale        6.0
3           residential_sale        2.0
4           residential_sale        6.0
5           residential_sale        3.0
6   residential_monthly_rent        5.0
7           residential_sale        2.0
8           residential_sale        7.0
9           residential_sale        NaN
10          residential_sale        5.0
11  residential_monthly_rent        6.0
12          residential_sale        3.0
13          residential_sale        NaN
14          residential_sale        5.0
15          residential_sale        3.0
16          residential_sale        3.0
17          residential_sale        5.0
18          residential_sale        5.0
19          residential_sale        NaN

[20 rows x 35 columns]

In [64]:
#check 'state_of_building'
df[df['state_of_building'].isna()==1]
num_null_StateOfBuilding = df['state_of_building'].isnull().sum()
per_null_StateOfBuilding = num_null_StateOfBuilding / len (df)
StateOfBuilding_distribution = df['state_of_building'].value_counts()
StateOfBuilding_percentage = df['state_of_building'].value_counts(normalize=True)
print(num_null_StateOfBuilding, per_null_StateOfBuilding, StateOfBuilding_distribution, StateOfBuilding_percentage)

37049 0.31229137867089246 state_of_building
GOOD              43416
AS_NEW            18966
TO_RENOVATE        7541
TO_BE_DONE_UP      5719
JUST_RENOVATED     5484
TO_RESTORE          461
Name: count, dtype: int64 state_of_building
GOOD              0.532144
AS_NEW            0.232464
TO_RENOVATE       0.092429
TO_BE_DONE_UP     0.070097
JUST_RENOVATED    0.067217
TO_RESTORE        0.005650
Name: proportion, dtype: float64

###Grade the building state
GOOD           -->   4
AS_NEW         -->   6
TO_RENOVATE    -->   1
TO_BE_DONE_UP  -->   3
JUST_RENOVATED -->   5
TO_RESTORE     -->   2

In [65]:
Building_state_grade = {
    'GOOD': 4, 
'AS_NEW': 6,
'TO_RENOVATE': 1, 
'TO_BE_DONE_UP': 3,
'JUST_RENOVATED': 5,
'TO_RESTORE': 2
}
df['Building_state_grade'] =df['state_of_building'].map(Building_state_grade)
df.to_csv('Hui.csv')
df_hui = pd.read_csv('Hui.csv')
print(df_hui.head(20))

    Unnamed: 0.1  Unnamed: 0  \
0              0           2
1              1           6
2              2           8
3              3          10
4              4          11
5              5          14
6              6          15
7              7          18
8              8          22
9              9          23
10            10          24
11            11          25
12            12          27
13            13          29
14            14          30
15            15          33
16            16          34
17            17          35
18            18          36
19            19          37

                                                  Url  bathroom_count  \
0   https://www.immoweb.be/en/classified/apartment...             1.0
1   https://www.immoweb.be/en/classified/house/for...             6.0
2   https://www.immoweb.be/en/classified/house/for...             2.0
3   https://www.immoweb.be/en/classified/house/for...             1.0
4   https://www.immoweb.be/en/classified/apartment...             0.0
5   https://www.immoweb.be/en/classified/apartment...             1.0
6   https://www.immoweb.be/en/classified/house/for...             4.0
7   https://www.immoweb.be/en/classified/house/for...             0.0
8   https://www.immoweb.be/en/classified/apartment...             2.0
9   https://www.immoweb.be/en/classified/apartment...             NaN
10  https://www.immoweb.be/en/classified/apartment...             1.0
11  https://www.immoweb.be/en/classified/apartment...             1.0
12  https://www.immoweb.be/en/classified/house/for...             3.0
13  https://www.immoweb.be/en/classified/apartment...             NaN
14  https://www.immoweb.be/en/classified/apartment...             1.0
15  https://www.immoweb.be/en/classified/house/for...             1.0
16  https://www.immoweb.be/en/classified/house/for...             1.0
17  https://www.immoweb.be/en/classified/apartment...             1.0
18  https://www.immoweb.be/en/classified/apartment...             1.0
19  https://www.immoweb.be/en/classified/house/for...             0.0

    bedroom_count  construction_year  country         district  fireplace  \
0               1             1969.0  Belgium           Brugge        NaN
1              13             1920.0  Belgium          Tournai        NaN
2               4             2008.0  Belgium           Brugge        NaN
3               4                NaN  Belgium           Veurne        NaN
4               2             1972.0  Belgium          Hasselt        NaN
5               1             1994.0  Belgium         Brussels        NaN
6               6             1970.0  Belgium         Nivelles        1.0
7               2                NaN  Belgium         Mechelen        NaN
8               3             2023.0  Belgium  Halle-Vilvoorde        NaN
9               2                NaN  Belgium     Sint-Niklaas        NaN
10              2             1961.0  Belgium          Oostend        NaN
11              3                NaN  Belgium         Brussels        NaN
12              5             1987.0  Belgium          Antwerp        NaN
13              1                NaN  Belgium     Sint-Niklaas        NaN
14              2             1966.0  Belgium          Oostend        NaN
15              8             1923.0  Belgium            Ieper        NaN
16              3                NaN  Belgium             Mons        NaN
17              0             1974.0  Belgium            Namur        NaN
18              0             1974.0  Belgium            Namur        NaN
19              1             1860.0  Belgium    Philippeville        NaN

     flooding_zone  ...  state_of_building  subtype_of_property  \
0              NaN  ...               GOOD          flat_studio
1              NaN  ...               GOOD      apartment_block
2   NON_FLOOD_ZONE  ...               GOOD                house
3              NaN  ...      TO_BE_DONE_UP                house
4   NON_FLOOD_ZONE  ...             AS_NEW            apartment
5              NaN  ...             AS_NEW            apartment
6   NON_FLOOD_ZONE  ...               GOOD                villa
7   NON_FLOOD_ZONE  ...                NaN                house
8              NaN  ...                NaN            apartment
9              NaN  ...                NaN            apartment
10             NaN  ...               GOOD            apartment
11  NON_FLOOD_ZONE  ...               GOOD            apartment
12  NON_FLOOD_ZONE  ...                NaN                house
13             NaN  ...                NaN            apartment
14  NON_FLOOD_ZONE  ...                NaN            apartment
15  NON_FLOOD_ZONE  ...        TO_RENOVATE                house
16             NaN  ...         TO_RESTORE                house
17  NON_FLOOD_ZONE  ...               GOOD          flat_studio
18  NON_FLOOD_ZONE  ...               GOOD          flat_studio
19  NON_FLOOD_ZONE  ...        TO_RENOVATE                house

    surface_of_plot swimming_pool  terrace toilet_count  type_of_property  \
0               NaN           NaN      1.0          1.0                 2
1             130.0           NaN      NaN          5.0                 1
2               0.0           NaN      NaN          2.0                 1
3             170.0           0.0      1.0          2.0                 1
4               NaN           NaN      1.0          1.0                 2
5               NaN           0.0      1.0          1.0                 2
6            2519.0           NaN      1.0          5.0                 1
7             423.0           NaN      NaN          0.0                 1
8               NaN           0.0      NaN          NaN                 2
9               NaN           NaN      NaN          NaN                 2
10              NaN           NaN      NaN          1.0                 2
11              NaN           0.0      1.0          3.0                 2
12           5185.0           NaN      NaN          3.0                 1
13              NaN           NaN      NaN          NaN                 2
14              NaN           0.0      NaN          NaN                 2
15            223.0           0.0      1.0          2.0                 1
16            480.0           NaN      NaN          2.0                 1
17              NaN           0.0      1.0          1.0                 2
18              NaN           0.0      1.0          NaN                 2
19            189.0           0.0      1.0          NaN                 1

                type_of_sale PEB_grade  Building_state_grade
0           residential_sale       NaN                   4.0
1           residential_sale       4.0                   4.0
2           residential_sale       6.0                   4.0
3           residential_sale       2.0                   3.0
4           residential_sale       6.0                   6.0
5           residential_sale       3.0                   6.0
6   residential_monthly_rent       5.0                   4.0
7           residential_sale       2.0                   NaN
8           residential_sale       7.0                   NaN
9           residential_sale       NaN                   NaN
10          residential_sale       5.0                   4.0
11  residential_monthly_rent       6.0                   4.0
12          residential_sale       3.0                   NaN
13          residential_sale       NaN                   NaN
14          residential_sale       5.0                   NaN
15          residential_sale       3.0                   1.0
16          residential_sale       3.0                   2.0
17          residential_sale       5.0                   4.0
18          residential_sale       5.0                   4.0
19          residential_sale       NaN                   1.0

[20 rows x 36 columns]

In [186]:
#check the state
#TO_BE_DONE_UP_df = df[df['StateOfBuilding'] == 'TO_BE_DONE_UP']
##print(TO_BE_DONE_UP_df)
#TO_BE_DONE_UP_df['Url'].tolist(

In [67]:
#check 'subtype_of_property'
df[df['subtype_of_property'].isna()==1]
SubtypeOfProperty_distribution = df['subtype_of_property'].value_counts()
SubtypeOfProperty_percentage = df['subtype_of_property'].value_counts(normalize=True)
print(SubtypeOfProperty_distribution, SubtypeOfProperty_percentage)

subtype_of_property
apartment               47041
house                   45225
villa                    5209
ground_floor             3509
duplex                   2837
apartment_block          2465
flat_studio              2453
penthouse                2379
mixed_use_building       1919
service_flat              764
kot                       753
mansion                   702
town_house                636
bungalow                  481
loft                      426
exceptional_property      426
country_cottage           406
farmhouse                 348
triplex                   254
chalet                    166
other_property             90
manor_house                79
castle                     60
pavilion                    5
show_house                  3
Name: count, dtype: int64 subtype_of_property
apartment               0.396515
house                   0.381208
villa                   0.043907
ground_floor            0.029578
duplex                  0.023913
apartment_block         0.020778
flat_studio             0.020677
penthouse               0.020053
mixed_use_building      0.016176
service_flat            0.006440
kot                     0.006347
mansion                 0.005917
town_house              0.005361
bungalow                0.004054
loft                    0.003591
exceptional_property    0.003591
country_cottage         0.003422
farmhouse               0.002933
triplex                 0.002141
chalet                  0.001399
other_property          0.000759
manor_house             0.000666
castle                  0.000506
pavilion                0.000042
show_house              0.000025
Name: proportion, dtype: float64

In [68]:
#check 'surface_of_plot'
df[df['surface_of_plot'].isna()==1]
num_null_SurfaceOfPlot = df['surface_of_plot'].isnull().sum()
per_null_SurfaceOfPlot = num_null_SurfaceOfPlot / len (df)
SurfaceOfPlot_distribution = df['surface_of_plot'].value_counts()
SurfaceOfPlot_percentage = df['surface_of_plot'].value_counts(normalize=True)
print(num_null_SurfaceOfPlot, per_null_SurfaceOfPlot, SurfaceOfPlot_distribution)

60416 0.5092552007822246 surface_of_plot
0.0        7834
200.0       295
150.0       282
300.0       278
120.0       270
           ...
6284.0        1
3580.0        1
21164.0       1
45741.0       1
10703.0       1
Name: count, Length: 4581, dtype: int64

In [69]:
#check the 'swimming_pool'
df[df['swimming_pool'].isna()==1]
num_null_SwimmingPool = df['swimming_pool'].isnull().sum()
per_null_SwimmingPool = num_null_SwimmingPool / len (df)
SwimmingPool_distribution = df['swimming_pool'].value_counts()
SwimmingPool_percentage = df['swimming_pool'].value_counts(normalize=True)
print(num_null_SwimmingPool, per_null_SwimmingPool, SwimmingPool_distribution)

78280 0.6598334401024984 swimming_pool
0.0    38298
1.0     2058
Name: count, dtype: int64

In [70]:
#Fill the empty values in 'swimming_pool'
df_hui["swimming_pool"].fillna(0, inplace = True)
df_hui.to_csv('Hui.csv')
df_hui = pd.read_csv('Hui.csv')

/var/folders/89/6dhf64yn68jcjcpqqbkth7jr0000gn/T/ipykernel_71114/3700045586.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_hui["swimming_pool"].fillna(0, inplace = True)

In [73]:
indices = df_hui[df_hui['surface_of_plot'] == 0].index

# Assign values from 'living_area' to these indices in column 'surface_of_plot'
df_hui.loc[indices, 'surface_of_plot'] = df_hui.loc[indices, 'living_area']

df_hui.to_csv('Hui.csv', index=True)

In [75]:
#devide as two files according to 'type of property'
df_appartment = df_hui[df_hui['type_of_property'] == 2]
df_house = df_hui[df_hui['type_of_property'] == 1]

# Save the filtered DataFrames to new CSV files
df_appartment.to_csv('data_appartment.csv', index=True)
df_house.to_csv('data_house.csv', index=True)