In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('Hui.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104475 entries, 0 to 104474
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0.1          104475 non-null  int64
 1   Unnamed: 0            104475 non-null  int64
 2   Url                   104475 non-null  object
 3   bathroom_count        104475 non-null  int64
 4   bedroom_count         104475 non-null  int64
 5   construction_year     104475 non-null  int64
 6   district              104475 non-null  object
 7   flooding_zone         53257 non-null   object
 8   garden                104475 non-null  float64
 9   garden_area           20373 non-null   float64
 10  kitchen               57610 non-null   object
 11  living_area           104475 non-null  int64
 12  number_of_facades     104475 non-null  int64
 13  PEB                   74065 non-null   object
 14  postal_code           104475 non-null  int64
 15  property_id           104475 non-null  int64
 16  province              104473 non-null  object
 17  region                104475 non-null  object
 18  room_count            104475 non-null  int64
 19  state_of_building     71175 non-null   object
 20  subtype_of_property   104475 non-null  object
 21  surface_of_plot       104475 non-null  int64
 22  swimming_pool         104475 non-null  float64
 23  terrace               60359 non-null   float64
 24  toilet_count          84410 non-null   float64
 25  type_of_property      104475 non-null  int64
 26  type_of_sale          104475 non-null  object
 27  PEB_grade             104475 non-null  int64
 28  Building_state_grade  104475 non-null  int64
 29  price                 104475 non-null  int64
dtypes: float64(5), int64(15), object(10)
memory usage: 23.9+ MB

In [34]:
# Calculate the quartiles and the interquartile range (IQR)
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

# Define the outlier boundaries
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out the outliers
df = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

In [35]:
len(df['price'])

96305

In [36]:
#drop the columns no need


del df['Url']

del df['flooding_zone']
del df['garden_area']
del df['kitchen']

del df['postal_code']
del df['region']

In [37]:
del df['PEB']

In [38]:

del df['state_of_building']

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96305 entries, 0 to 104474
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.1          96305 non-null  int64
 1   Unnamed: 0            96305 non-null  int64
 2   bathroom_count        96305 non-null  int64
 3   bedroom_count         96305 non-null  int64
 4   construction_year     96305 non-null  int64
 5   district              96305 non-null  object
 6   garden                96305 non-null  float64
 7   living_area           96305 non-null  int64
 8   number_of_facades     96305 non-null  int64
 9   property_id           96305 non-null  int64
 10  province              96303 non-null  object
 11  room_count            96305 non-null  int64
 12  subtype_of_property   96305 non-null  object
 13  surface_of_plot       96305 non-null  int64
 14  swimming_pool         96305 non-null  float64
 15  terrace               55280 non-null  float64
 16  toilet_count          77715 non-null  float64
 17  type_of_property      96305 non-null  int64
 18  type_of_sale          96305 non-null  object
 19  PEB_grade             96305 non-null  int64
 20  Building_state_grade  96305 non-null  int64
 21  price                 96305 non-null  int64
dtypes: float64(4), int64(14), object(4)
memory usage: 16.9+ MB

In [40]:

del df['subtype_of_property']

del df['terrace']
del df['toilet_count']
del df['type_of_sale']

In [41]:
import numpy as np

In [42]:
from sklearn.preprocessing import OneHotEncoder

In [43]:
df.to_csv("Data for Machine Learning.csv", index = True)

In [44]:
filtered_df = df[df['type_of_property'] == 2]
facades_distribution_appartment = filtered_df['number_of_facades'].value_counts()
print(facades_distribution_appartment)

number_of_facades
3    28569
2    14336
4     3694
1      313
Name: count, dtype: int64

In [45]:
#convert 'type_of_property'] into str
df.loc[df['type_of_property'] == 1, 'type_of_property'] = 'house'
df.loc[df['type_of_property'] == 2, 'type_of_property'] = 'appartment'
df.to_csv("Data for Machine Learning.csv", index = True)

/var/folders/89/6dhf64yn68jcjcpqqbkth7jr0000gn/T/ipykernel_28783/3403312050.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'house' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['type_of_property'] == 1, 'type_of_property'] = 'house'

In [46]:
#creat OneHot vector
df_type = df[['type_of_property']]
encoder_type = OneHotEncoder()
df_type_1hot = encoder_type.fit_transform(df_type)
# 将稀疏矩阵转换为密集数组
df_type_1hot_array = df_type_1hot.toarray()

In [47]:
# 获取独热编码后的列名
encoded_columns = encoder_type.get_feature_names_out(['type_of_property'])

# 将独热编码数组转换为 DataFrame
df_type_1hot_df = pd.DataFrame(df_type_1hot_array, columns=encoded_columns)

# 将原始 DataFrame 与独热编码后的 DataFrame 合并
df = pd.concat([df, df_type_1hot_df], axis=1)

df.to_csv("Data for Machine Learning.csv", index = True)

In [48]:
#creat OneHot vector
df_district = df[['district']]
encoder_district = OneHotEncoder()
df_district_1hot = encoder_district.fit_transform(df_district)
# 将稀疏矩阵转换为密集数组
df_district_1hot_array = df_district_1hot.toarray()

In [49]:
# 获取独热编码后的列名
encoded_columns = encoder_district.get_feature_names_out(['district'])

# 将独热编码数组转换为 DataFrame
df_district_1hot_df = pd.DataFrame(df_district_1hot_array, columns=encoded_columns)

# 将原始 DataFrame 与独热编码后的 DataFrame 合并
df = pd.concat([df, df_district_1hot_df], axis=1)

df.to_csv("Data for Machine Learning.csv", index = True)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104442 entries, 0 to 103826
Data columns (total 65 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0.1                 96305 non-null   float64
 1   Unnamed: 0                   96305 non-null   float64
 2   bathroom_count               96305 non-null   float64
 3   bedroom_count                96305 non-null   float64
 4   construction_year            96305 non-null   float64
 5   district                     96305 non-null   object
 6   garden                       96305 non-null   float64
 7   living_area                  96305 non-null   float64
 8   number_of_facades            96305 non-null   float64
 9   property_id                  96305 non-null   float64
 10  province                     96303 non-null   object
 11  room_count                   96305 non-null   float64
 12  surface_of_plot              96305 non-null   float64
 13  swimming_pool                96305 non-null   float64
 14  type_of_property             96305 non-null   object
 15  PEB_grade                    96305 non-null   float64
 16  Building_state_grade         96305 non-null   float64
 17  price                        96305 non-null   float64
 18  type_of_property_appartment  96305 non-null   float64
 19  type_of_property_house       96305 non-null   float64
 20  district_Aalst               103886 non-null  float64
 21  district_Antwerp             103886 non-null  float64
 22  district_Arlon               103886 non-null  float64
 23  district_Ath                 103886 non-null  float64
 24  district_Bastogne            103886 non-null  float64
 25  district_Bruge               103886 non-null  float64
 26  district_Brugge              103886 non-null  float64
 27  district_Brussels            103886 non-null  float64
 28  district_Charleroi           103886 non-null  float64
 29  district_Dendermonde         103886 non-null  float64
 30  district_Diksmuide           103886 non-null  float64
 31  district_Dinant              103886 non-null  float64
 32  district_Eeklo               103886 non-null  float64
 33  district_Gent                103886 non-null  float64
 34  district_Halle-Vilvoorde     103886 non-null  float64
 35  district_Hasselt             103886 non-null  float64
 36  district_Huy                 103886 non-null  float64
 37  district_Ieper               103886 non-null  float64
 38  district_Kortrijk            103886 non-null  float64
 39  district_Leuven              103886 non-null  float64
 40  district_Liège               103886 non-null  float64
 41  district_Maaseik             103886 non-null  float64
 42  district_Marche-en-Famenne   103886 non-null  float64
 43  district_Mechelen            103886 non-null  float64
 44  district_Mons                103886 non-null  float64
 45  district_Mouscron            103886 non-null  float64
 46  district_Namur               103886 non-null  float64
 47  district_Neufchâteau         103886 non-null  float64
 48  district_Nivelles            103886 non-null  float64
 49  district_Oostend             103886 non-null  float64
 50  district_Oudenaarde          103886 non-null  float64
 51  district_Philippeville       103886 non-null  float64
 52  district_Roeselare           103886 non-null  float64
 53  district_Sint-Niklaas        103886 non-null  float64
 54  district_Soignies            103886 non-null  float64
 55  district_Thuin               103886 non-null  float64
 56  district_Tielt               103886 non-null  float64
 57  district_Tongeren            103886 non-null  float64
 58  district_Tournai             103886 non-null  float64
 59  district_Turnhout            103886 non-null  float64
 60  district_Verviers            103886 non-null  float64
 61  district_Veurne              103886 non-null  float64
 62  district_Virton              103886 non-null  float64
 63  district_Waremme             103886 non-null  float64
 64  district_nan                 103886 non-null  float64
dtypes: float64(62), object(3)
memory usage: 52.6+ MB

In [25]:
del df['Unnamed: 0.1']
del df['Unnamed: 0']

In [51]:
del df['district']
del df['district_nan']

del df['property_id']
del df['province']
del df['type_of_property']

In [52]:
df.to_csv("Data for Machine Learning.csv", index = True)